<div class="fix-view-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="login-view">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {id: 'login'}) do |f| %>
            <div class="input">
                <%= f.email_field :email, autocomplete: "email",class: 'input-field'%>
                <label class="input-label input-label-juro">Email</label>
            </div>
             <div class="input">
                <%= f.password_field :password, autocomplete: "off",class: 'input-field' %>
                <label class="input-label input-label-juro">Password</label>
            </div>
            <div class="submit-btn">
              <button type="submit" class="submit-btn">SIGN IN</button>
              <%#= f.submit "SIGN IN",class: "submit-btn" %>
            </div>
            <div class="social">
              <a href="<%= launcher_facebook_omniauth_authorize_path %>" class="facebook">Facebook</a>
              <a href="<%= launcher_google_oauth2_omniauth_authorize_path %>" class="google">Google</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "off" %>
  </div>

  <%# if devise_mapping.rememberable? -%>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end -%>

  <div class="actions">
    <%#= f.submit "Sign in" %>
  </div>
<%# end %>

<%#= render "launchers/shared/links" %> -->