<header class="header">
  <nav class="navbar navbar-default">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" /></a></div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= request.path == coin_icos_path ? 'active' :'' %>">
            <a href="<%= coin_icos_path %>">All Ico</a>
          </li>
          <% if launcher_signed_in? %>
            <li><a href="<%= coin_icos_launcher_coin_icos_path %>">My Profile</a></li>
            <li><%= link_to "Sign out",destroy_launcher_session_path,method: :delete %></li>
          <% else %>
            <li class="<%= request.path == new_launcher_session_path ? 'active' :'' %>"><a href="<%= new_launcher_session_path %>">Sign In</a></li>
            <li class="<%= request.path == new_launcher_registration_path ? 'active' :'' %>"><a href="<%= new_launcher_registration_path %>">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
  </nav>
</header>