<div class="coin-list">
  <div class="fix-view">
    <div class="owl-carousel owl-theme" id="owl">
      <div class="item">
        <img src="/images/banner-3.png" class="fix-img" />
      </div>
    </div>
     <div id="particles-js"></div>
    <div class="banner flex-box" >
      <h1>Start Your Dream </h1>
      <p>Cryptotoken sale  with Icototes.</p>
      <a href="<%= new_coin_ico_path %>">Upload Ico</a>
    </div>
  </div>
  <div class="coin-list pad-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title">
          <h3>Coins Listings</h3>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="coin">
          <ul>
            <% @coin_icos.each do |coin_ico| %>
              <li>
                <span class="coin-img">
                  <div class="outerCircle"></div>
                  <div class="innerCircle"></div>
                  <img src="<%= coin_ico.coin_logo.url %>" alt="">
                </span>
                <span class="coin-deatisl">
                  <h2><%= coin_ico.coin_name %></h2>
                  <ul class="coin-rate">
                    <li>Item Rating : </li>
                    <div id="rating" style="display: inline-block;"></div>
                    <li class="comments"><a href="#"><%= coin_ico.comments.count %> comments</a> </li>
                  </ul>
                  <p><%= truncate(coin_ico.description, length: 150) %></p>
                </span>
                <span><%= link_to 'View more', '#',class: "theme-btn" %></span>
                <!-- <span><%#= link_to 'View more', coin_ico,class: "theme-btn" %></span> -->
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".coin-rate").each(function(index, el) {
    $(this).find('#rating').raty({
      readOnly: true,
      score: $(this).data('coin-rate'),
      path: '/images'
    });
  });
  $("#owl").owlCarousel({
    autoPlay: 2000, //Set AutoPlay to 3 seconds
    items : 1,
  });
</script>



<%#= link_to 'Show', coin_ico %>
<%#= link_to 'Edit', edit_coin_ico_path(coin_ico) %>
<%#= link_to 'Destroy', coin_ico, method: :delete, data: { confirm: 'Are you sure?' } %>