<!-- Header -->
<%= render :partial => "/layouts/shared/navbar" %>
<div id="home" class="bg-inner low-back-gradient-inner">
  <div class="text-con-inner low-back-up">
    <div class="container">
      <div class="row">
        <div class="lead col-lg-12 col-xm-12 text-center">
          <h1><span class="top-heading-inner">MY ICOS</span> </h1>
          <div class="list-o-i white">
            <!-- <div class="pagenation_links"><a href="#" class="yellow">Home</a><i> </i> / Pages / Login</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENd Header --> 

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="coin">
        <ul>
          <% @coin_icos.each do |coin_ico| %>
            <li>
              <span class="coin-img">
                <img src="<%= coin_ico.coin_logo.url %>" alt="">
              </span>
              <span class="coin-deatisl">
                <h2><%= coin_ico.coin_name %></h2>
                <%= link_to 'Edit', edit_coin_ico_path(coin_ico), style:"color:#337ab7;" %>
                <ul class="coin-rate" data-rating="<%= coin_ico.average_rating %>">
                  <li>Item Rating : </li>
                  <div id="rating" style="display: inline-block;"></div>
                  <li class="comments"><a href="#"><%= coin_ico.comments.count %> comments</a> </li>
                </ul>
                <p><%= truncate(coin_ico.description, length: 150) %></p>
              </span>
              <span><%= link_to 'View more', "#",class: "theme-btn btn-style-pinks-nav" %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".coin-rate").each(function(index, el) {
    $(this).find('#rating').raty({
      readOnly: true,
      score: $(this).data('coin-rate'),
      path: '/images'
    });
  });
</script>



<%#= link_to 'Show', coin_ico %>
<%#= link_to 'Edit', edit_coin_ico_path(coin_ico) %>
<%#= link_to 'Destroy', coin_ico, method: :delete, data: { confirm: 'Are you sure?' } %>