<p id="notice"><%= notice %></p>

<p>
  <strong>Launcher:</strong>
  <%= @coin_ico.launcher.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coin_ico.description %>
</p>

<p>
  <strong>Coin name:</strong>
  <%= @coin_ico.coin_name %>
</p>

<p>
  <strong>Presentation link:</strong>
  <%= @coin_ico.presentation_link %>
</p>

<p>
  <strong>Ico end date:</strong>
  <%= @coin_ico.ico_end_date %>
</p>
<div>
  <h2>Comments</h2>
  <%= render @coin_ico.comments %>
  <hr>
  <h3>New Comment</h3>      
  <div class="row">
    <div class="col-xs-12">
      <%= render 'comments/form', comment: @comment %>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_coin_ico_path(@coin_ico) %> |
<%= link_to 'Back', coin_icos_path %>
