<div class="coin-list">

  <div class="fix-view profile-view">
    <div class="back-banner-tag" style="background-image: url('/images/2.jpg');"></div>
     <div id="particles-js"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="profile-tag">
            <div class="pro-img">
              <img src="<%= @coin_ico.coin_logo.url %>">
            </div>
            <h2><%= @coin_ico.coin_name %></h2>
            <% if launcher_signed_in? %>
              <div id="launcher_star" class="rates-view"></div>
            <% else %>
              <div id="star" class="rates-view"></div>
            <% end %>
            <!-- <ul class="rates-view">
              <li class="active"><a href="#"><i class="fa fa-star"></i></a> </li>
              <li class="active"><a href="#"><i class="fa fa-star"></i></a> </li>
              <li class="active"><a href="#"><i class="fa fa-star"></i></a> </li>
              <li class="active"><a href="#"><i class="fa fa-star"></i></a> </li>
              <li><a href="#"><i class="fa fa-star"></i></a> </li>
            </ul> -->
        </div>
      </div>
    </div>
  </div>

  <div class="back-bg-view">
    <div class="container">
        <div class="row">
          <div class="transperent wrapper">
            <div class="col-sm-6 col-xs-12">
              <div class="grad-bg">
                ICO Name:<span><%= @coin_ico.coin_name %></span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="grad-bg">
                Total Supply:<span><%= @coin_ico.total_supply %></span>
              </div>
            </div>
              <div class="col-sm-6 col-xs-12">
              <div class="grad-bg">
                Rate:<span><%= @coin_ico.rate %></span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="grad-bg">
                Token Symbol:<span><%= @coin_ico.token_symbol %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="clock-set">
          <div class="clock"></div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="desc-view">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="frames">
                  <h2><%= @coin_ico.coin_name %></h2>
                  <p>
                    <%= @coin_ico.description %> 
                  </p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
               <div class="video">
                 <iframe width="100%" height="320" src="<%= @coin_ico.presentation_link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <ul class="linking">
          <li>
            <a href="<%= formatted_website(@coin_ico.website)  %>" rel=”alternate” target="_blank">Visit Website</a>
          </li>
          <li>
            <a href="<%= @coin_ico.white_paper.url %>" target="_blank">White Paper</a>
          </li>
        </ul>
         <ul class="media-social">
           <li>
             <a href="<%= formatted_website(@coin_ico.facebook_link) %>" target="_blank">
               <img src="/images/facebook.png">
             </a>
           </li>
           <li>
             <a href="<%= formatted_website(@coin_ico.twitter_link) %>" target="_blank">
               <img src="/images/twitter.png">
             </a>
           </li>
           <li>
             <a href="<%= formatted_website(@coin_ico.telegram_link) %>" target="_blank">
               <img src="/images/telegram.png">
             </a>
           </li>
         </ul>
      </div>
      <div class="col-xs-12">
        <div class="comment-box">
          
          <div class="post-comment">
            <%= render 'comments/form', comment: @comment if current_launcher%>
          </div>
         
          <ul>
            <%= render @coin_ico.comments.order("created_at desc") %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @coin_ico.average_rating %>,
    path: '/images'
  });
  <% if current_launcher %>
    <% if @rating.score > 0 %>
      $('#launcher_star').raty({
        readOnly: true,
        score: <%= @rating.score %>,
        path: '/images'
      });
    <% else %>
      $('#launcher_star').raty({
        score: <%= @rating.score %>,
        path: '/images',
        click: function(score, evt) {
          $.ajax({
            url: '/ratings/' + <%= @rating.id %>,
            type: 'PATCH',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            dataType: 'script',
            data: { score: score }
          });
        }
      });
    <% end %>
  <% end %>
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $("#owl").owlCarousel({
          autoPlay: 4000, //Set AutoPlay to 3 seconds
          items : 1,
           itemsDesktop : [1199,1],
          itemsDesktopSmall : [992,1],
          itemsTablet : [767,1],
          itemsMobile:[320,1]
      });

       $("#owl-demo2").owlCarousel({
          autoPlay: 4500, //Set AutoPlay to 3 seconds
          items : 3,
          itemsDesktop : [1199,2],
          itemsDesktopSmall : [992,2],
          itemsTablet : [767,1],
          itemsMobile:[320,1]
      });
       $("#owl-demo3").owlCarousel({
          autoPlay: 4500, //Set AutoPlay to 3 seconds
          items : 3,
          itemsDesktop : [1199,2],
          itemsDesktopSmall : [992,2],
          itemsTablet : [767,1],
          itemsMobile:[320,1]
      });

      $( window ).load(function(){
        $(".fix-img").each(function(){
          
        var img = $(this);
        var image_heightA = img.height();
        var image_widthA = img.width();
        var parent_image_widthA = img.parent().width();
        var parent_image_heightA = img.parent().height();
        //if(width <= height)
        
        if(image_heightA > parent_image_heightA && image_widthA > parent_image_widthA){
          
          img.css('width',parent_image_widthA + 'px');
          var tem_image_heightA = img.height();
          
          if(tem_image_heightA > parent_image_heightA){
            img.css('width','100%');
          }
          else{
            img.css('width','auto');
            img.css('height','100%');
          }
        }
        else{
          img.css('width',parent_image_widthA + 'px');
          var tem_image_heightA = img.height();
          
          if(tem_image_heightA > parent_image_heightA){
            img.css('width','100%');
          }
          else{
            img.css('width','auto');
            img.css('height','100%');
          }
        } 
        });
      });
    });
    var clock;
    $(document).ready(function() {
      var clock;

      clock = $('.clock').FlipClock({
            clockFace: 'DailyCounter',
            autoStart: false,
            callbacks: {
              stop: function() {
                $('.message').html('The clock has stopped!')
              }
            }
        });
            
        clock.setTime(<%= @coin_ico.current_round_time %>);
        clock.setCountdown(true);
        clock.start();

    });
  particlesJS('particles-js',
    {
      "particles": {
        "number": {
          "value": 80,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 5,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#ffffff",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 6,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": true,
            "mode": "repulse"
          },
          "onclick": {
            "enable": true,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 400,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true,
      "config_demo": {
        "hide_card": false,
        "background_color": "#b61924",
        "background_image": "",
        "background_position": "50% 50%",
        "background_repeat": "no-repeat",
        "background_size": "cover"
      }
    }
  );
</script>

<!-- http://paweljaniak.co.za/2013/07/25/5-star-ratings-with-rails/ -->
<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Launcher:</strong>
  <%= @coin_ico.launcher.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coin_ico.description %>
</p>

<p>
  <strong>Coin name:</strong>
  <%= @coin_ico.coin_name %>
</p>

<p>
  <strong>Presentation link:</strong>
  <%= @coin_ico.presentation_link %>
</p>

<p>
  <strong>Ico end date:</strong>
  <%= @coin_ico.ico_end_date %>
</p>

<p>Average rating</p>
<div id="star"></div>

<p>Your rating</p>
<div id="launcher_star"></div>
<div>
  <h2>Comments</h2>
  <%#= render @coin_ico.comments %>
  <hr>
  <h3>New Comment</h3>      
  <div class="row">
    <div class="col-xs-12">
      <%#= render 'comments/form', comment: @comment %>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_coin_ico_path(@coin_ico) %> |
<%= link_to 'Back', coin_icos_path %> -->