<%= render :partial => "/layouts/shared/navbar" %>
<div id="home" class="bg-inner low-back-gradient-inner">
  <div class="text-con-inner low-back-up">
    <div class="container">
      <div class="row">
        <div class="lead col-lg-12 col-xm-12 text-center">
          <h1><span class="top-heading-inner">Login</span> </h1>
          <div class="list-o-i white">
            <p class="white no-p">There are many variations of passages of Lorem<br>
              Ipsum available, but the majorityhave suffered
              alteration in some form, 
              Learn more</p>
            <div class="pagenation_links"><a href="index.html" class="yellow">Home</a><i> </i> / Pages / Login</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="login_page login_solid_bg">
  <div class="container">
    <div class="log_in_logo text-center"> <img src="images/logo.png" alt=""> </div>
    <div class="log_in_box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: 'login'}) do |f| %>

        <div class="login_title">
          <h2>REGISTER</h2>
        </div>

        <div class="form-group">
          <%= f.text_field :first_name, class: 'form-control', placeholder:"FIRST NAME" %>
        </div>
        <div class="form-group">
          <%= f.text_field :last_name, class: 'form-control', placeholder:"LAST NAME" %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, autocomplete: "email",class: 'form-control', placeholder:"EMAIL"%>
        </div>
        <div class="form-group">
          <%= f.text_field :mobile_no, class: 'form-control', placeholder:"MOBILE NO" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off",class: 'form-control',placeholder:"CHOOSE PASSWORD" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control',placeholder:"CONFIRM PASSWORD" %>
        </div>
        <div class="form-group">
          <%= f.submit "REGISTER",class: "btn btn-login" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <h2>Sign up</h2>

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :first_name %><br />
    <%#= f.text_field :first_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :last_name %><br />
    <%#= f.text_field :last_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :mobile_no %><br />
    <%#= f.text_field :mobile_no, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
    <em>(<%#= @minimum_password_length %> characters minimum)</em>
    <%# end %><br />
    <%#= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%#= f.submit "Sign up" %>
  </div>
<%# end %>

<%#= render "launchers/shared/links" %> -->
