<!DOCTYPE html>
<html>
  <head>
    <title>LaunchCoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!--preloader start-->
    <div id="preloader">
      <div id="loader"></div>
    </div>
    <!--preloader end--> 
      <%= yield %>
    <!-- <div class="container">
      <div>
        <%#= render :partial => "/layouts/shared/header" %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div> -->
  </body>
</html>
